button {
  border: none;
  outline: none;
}

.section-title {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 70px;
    left: 0;
    width: 80px;
    height: 2px;
    background-color: $color-blue;
    @include for-small-up {
      left: -40px;
    }
  }
}

