@import 'variables.scss';
@import 'breakpoints.scss';
@import 'common.scss';
@import 'header.scss';
@import 'headline.scss';
@import 'reviews.scss';
@import 'workflow.scss';
@import 'features.scss';
@import 'users.scss';
@import 'purposes.scss';
@import 'consultation.scss';
@import 'stories.scss';
@import 'page-footer.scss';

* {
  box-sizing: border-box;
}
html {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  color: $color-dark-blue;
}
.page {
  width: 100%;
  overflow-x: hidden;
  background-image: linear-gradient(
    180deg,
    $color-background-dark-blue 0%,
    $color-background-blue 23.07%,
    $color-background-dark-blue 99.94%,
    $color-background-blue 100%
  );
  @include for-small-up {
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png);
  }
}

.top-section {
  @include for-small-up {
    width: 1120px;
    margin: 0 auto;
  }
}
