.page-footer {
  margin-top: 60px;
  margin-bottom: 90px;
  height: 130px;
  width: 100%;
  background: $color-footer;
  display: flex;
  padding: 40px;
  position: relative;
  @include for-small-up {
    margin: 0;
    
  }
  &__logo {
    display: flex;
    height: 50px;
    width: 250px;
    margin-right: 50px;
  }

  &__logo-image {
    height: 50px;
    width: 50px;
  }

  &__logo-text {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(25, 104, 252, 0.05);
    color: $color-blue;
    width: 200px;
    height: 50px;
  }

  &__menu-links {
    display: none;
    @include for-small-up {
      display: flex;
      justify-content: space-around;
    }
  }

  &__menu-link {
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-black;
    text-decoration: none;
  }

  &__social-links {
    display: flex;
  }

  &__social-fb {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
  }

  &__social-inst {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
  }

  &__illustation {
    position: absolute;
    height: 60px;
    right: 40px;
    bottom: 0;
    @include for-small-up {
      height: 100px;
      right: 70px;
    }
  }
}
