.reviews {
  margin-top: 50px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-small-up {
    margin-top: 160px;
    flex-direction: row;
    justify-content: center;
  }
}
.review {
  margin-bottom: 50px;
  height: 280px;
  width: 540px;
  padding: 40px;
  background-color: $color-white;
  filter: drop-shadow(0px 20px 60px rgba(25, 104, 252, 0.1));

  @include for-small-up {
    &:first-of-type {
      margin-right: 40px;
    }
  }
  &__reviewer {
    display: flex;
    position: relative;
    align-items: center;
    height: 100px;
  }

  &__reviewer-photo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }

  &__reviewer-info {
    display: flex;
    flex-direction: column;
  }

  &__reviewer-name {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
  }

  &__reviewer-position {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: $color-text-blue;
  }

  &__illustration-quote {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__text {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 30px;
  }
}
