$color-blue: #1968fc;
$color-white: #fff;
$color-black: #000000;
$color-dark-blue: #11223f;
$color-text-blue: #1967fa;
$color-light-blue: #f3f7ff;
$color-footer: #fbfbfb;
$color-box-shadow-light-blue: #d1e1fe;
$color-box-shadow-blue: #6a9eff;
